@keyframes scaleAnimationIn2 {
    0% {
        opacity: .3;
        transform: translate(0, -100%);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.Calendar {
    z-index: 2;
    position: fixed;
    right: 130px;
    top: 135px;
    animation: scaleAnimationIn2 .2s;
}

@media (max-width: 700px) {
    .Calendar {
        right: 0px;
    }
}

@media (max-width: 550px) {
    .Calendar .react-calendar {
        width: 100vw;
    }

    .Calendar .react-calendar .react-calendar__tile {
        padding: 3.5vw 0;
    }
}