.MainContainer {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* row-gap: 30px; */
    /* margin-top: 50px; */
    /* padding-top: 80px; */
    /* padding-bottom: 15px; */
    overflow: auto;
    width: 100%;
    /* height: max-content; */
    /* margin-left: calc((var(--closeSidebarWidth)) + 30px); */
}

.MainContainer .SubContainer {
    display: flex;
}

.MainContainer .FinancialWorksheetMainContainer .SubContainer {
    transform: none;
}
.MainContainer .SubContainer .TaskListContainer .TaskList .task-container {
    text-wrap: nowrap;
}
.MainContainer .SubContainer .TaskListContainer {
    height: fit-content;
}
.MainContainer .FinancialWorksheetMainContainer .TableContainer ul {
    margin: auto;
}

.MainContainer ul {
    border-radius: 5px;
    /* box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.1); */
    width: 300px;
    background-color: white;

}

.MainContainer .MuiListSubheader-root {
    color: var(--font-color);
    text-align: center;
    /* font-size: 26px; */
    /* font-weight: bold; */
    margin: 10px 20px 0 20px;
}

@media (max-width: 600px), (max-height: 600px) {
    .MainContainer {
        padding-top: 0;
    }
}

@media (max-width: 600px) {
    .MainContainer .SubContainer {
        display: unset;
    }

    .MainContainer .FinancialWorksheetMainContainer {
        margin-top: 50px;
        padding-top: 0px;
    }

     .TaskListContainer .TaskListHeader {
        margin-top: 10px;
        padding-top: 0px;
    }
}
