.SettingsContainer {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.SettingsSubContainer {
    display: flex;
    min-height: 50vh;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.1);
    width: min-content;
    overflow: hidden;
    padding: 10px;
    background-color: white;
}

.SettingsContainer .SettingsSubContainer ul {
    min-width: 300px;
}

.SettingsContainer .SettingsSubContainer .MuiListSubheader-root {
    color: var(--font-color);
    font-size: 14px;
}

.SettingsContainer .SettingsSubContainer .MuiListItem-root {
    height: 40px;
    padding: 0 16px;
}

.MuiInputBase-root.MuiInput-root::before, .MuiInputBase-root.MuiInput-root::after, .MuiInputBase-root.MuiInput-root:hover:not(.Mui-disabled, .Mui-error):before {
    border-bottom: none;
  }