.ItensContainer {
    max-height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.ItensContainer::-webkit-scrollbar {
    width: 10px;
}

.Sidebar .MuiList-padding {
    height: 100vh;
    overflow: hidden;
    padding-top: 70px;
    white-space: nowrap;
    transition: .3s;
}
