.FinancialWorksheetMainContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    margin-top: 70px;
    overflow-y: scroll;
}

.FinancialWorksheetMainContainer .Header {
    text-align: center;
}

.FinancialWorksheetMainContainer .SubContainer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    transform: translateX(calc(var(--closeSidebarWidth)*-1));
}

.FinancialWorksheetMainContainer ul {
    border-radius: 5px;
    /* box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.1); */
    width: 300px;
    background-color: white;
}

.FinancialWorksheetMainContainer .MuiListSubheader-root {
    color: var(--font-color);
    text-align: center;
    /* font-size: 26px; */
    /* font-weight: bold; */
    margin: 10px 20px 0 20px;
    position: relative;
}
/* 
@media (max-width: 600px), (max-height: 600px) {
    .FinancialWorksheetMainContainer {
        padding-top: 70px;
    }
} */

.FinancialWorksheetMainContainer .TableContainer table {
    margin-top: 50px;
    font-size: 1.2em;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.FinancialWorksheetMainContainer .TableContainer table th {
    font-size: 1.3em;
}

.FinancialWorksheetMainContainer .TableContainer table thead tr {
    background-color: var(--color0);
    padding: 10px;

}
.FinancialWorksheetMainContainer .TableContainer table tr:nth-child(even) {
    background-color: var(--color0);
}

.FinancialWorksheetMainContainer .TableContainer table td, th {
    padding: 10px;
    min-width: 100px;
}
