.BottomNav {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
    overflow: hidden;
}

.BottomNav .MuiBottomNavigation-root {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 500px;
}

.BottomNav .MuiBottomNavigation-root svg {
    font-size: 30px;
}

.BottomNav .MuiBottomNavigationAction-root {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media (min-width: 750px) {
    .BottomNav .MuiBottomNavigation-root {
        visibility: hidden;
    }
}
@media (max-width: 500px) {
    .BottomNav .MuiBottomNavigation-root {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}