.InsideSidebar .InsideSidebarItensContainer {
    overflow-x: hidden;
    overflow-y: auto;
    /* margin-bottom: 90px; */
}

.ItensContainer::-webkit-scrollbar {
    width: var(--closeSidebarScrollWidth);
}

.InsideSidebar {
    width: min-content;
    margin-left: var(--closeSidebarWidth);
}

.InsideSidebar .MuiList-padding {
    /* height: 100vh; */
    overflow: hidden;
    margin-top: 45px;
    white-space: nowrap;
    transition: .3s;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.InsideSidebar .MuiListSubheader-root {
    background-color: inherit;
}

.InsideSidebar .MuiIconButton-root {
    /* background-color: black; */
    /* border-radius: 0; */
    margin: 0 12px;
}

.InsideSidebar .MuiButtonBase-root {
    border-radius: 5px;
}


