.BottomNav {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
}

.BottomNav .MuiBottomNavigation-root {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 500px;
}

.BottomNav .MuiBottomNavigationAction-root {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media (max-width: 600px) {
    .BottomNav .MuiBottomNavigation-root {
        margin-left: 65px;
        /* width: 400px; */
    }
}