.Summary {
    display: flex;
    height: 80vh;
    padding: 0 10px 0 75px;
    margin-bottom: 60px;
    overflow: auto;
}

.Summary .MuiList-root {
    height: min-content;
    background-color: white;
    padding: 0;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 0px 5px #ccc;
}

.Summary .MuiList-root .MuiButtonBase-root {
    border-radius: 5px;
}

.Summary .MuiList-root .MuiButtonBase-root span {
    font-size: 20px;
    font-weight: 600;
    color: var(--font-color);
}

.chartContent {
    background-color: white;
    padding: 10px;
    padding-bottom: 0;
    margin: 10px;
    min-width: 70vw;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
}

@media (max-width: 750px) {
    .Summary {
        padding: 0 0 0 10px;
    }

    .chartContent {
        margin: 10px;
    }
}

@media (max-width: 600px) {
    .chartContent {
        min-width: 420px;
    }
}

@media (max-width: 500px) {
    .Summary .MuiList-root .MuiButtonBase-root span {
        font-size: 16px;
    }
}