.Summary {
    display: flex;
    height: 80vh;
    margin: 0 20px 60px 80px;
}

.Summary .MuiList-root {
    height: min-content;
    background-color: white;
    padding: 0;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 0px 5px #ccc;
}

.Summary .MuiList-root .MuiButtonBase-root {
    border-radius: 5px;
}

.Summary .MuiList-root .MuiButtonBase-root span {
    font-size: 20px;
    font-weight: 600;
    color: var(--font-color);
}

.chartContent {
    background-color: white;
    padding: 10px;
    padding-bottom: 0;
    margin: 10px 20px 20px 20px;
    width: 80vw;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
}